body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.container {
    margin: 10px 10px;
}

.message {
    border: solid black 1px;
    border-radius: 5px;
    width: 30%;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

.message-error {
    background-color: #ffc0cb;
    color: mediumvioletred;
}

.message-warning {
    background-color: #F5F9C2;
    color: yellowgreen;
}

.message-success {
    background-color: #B9F7D7;
    color: #0fb784;
}

.message-info {
    background-color: #B3CFFA;
    color: blue;
}