* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 480px) {
    .hidden-on-desktop a {
        text-decoration: none;
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .alert-info {
        display: flex;
        justify-content: center;
        background-color: skyblue;
        border: 2px solid lightgrey;
        padding: 10px 5px;
        margin: 10px;
    }

    h1 {
        text-align: center;
    }

    nav ul li {
        display: flex;
        justify-content: center;
        background-color: lightgrey;
        padding: 10px 5px;
        margin: 10px;
    }
    img {
        width: 339px;
        height: 224px;
        display: flex;
        justify-content: center;

    }

    .header-img {
        display: flex;
        justify-content: center;
        margin: 10px;
    }

    h2, p {
      margin: 10px;
    }

}
